<%= form_for(@td_version) do |f| %>
  <% if @td_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@td_version.errors.count, "error") %> prohibited this td_version from being saved:</h2>

      <ul>
      <% @td_version.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
